body {
}
:root {
  --button-bg-color: wheat;
  --button-bg-color2: rgb(225, 218, 201);
  --button-hover-color: rgb(255, 197, 90);
}
.container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle.productdetail {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.mi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
}
.left.middle {
  /* width: 70%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 0;
}
.right.middle {
  /* width: 30%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 10px;
}
.bottom {
  background-color: white;
  border-radius: 8px;
  padding: 0 110px 0 110px;
}
.line.ph {
  width: 150%;
  display: flex;
  justify-self: center;
  border-color: var(--button-bg-color3);
  /* margin: 10px; */
}
.line {
  width: 100%;
}
.reviewbox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.review {
  /* width: 100%; */
  width: auto;
  /* border-radius: 8px; */

  /* height: 130px; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin: 20px;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.notreview {
  margin: 20px 20px 100px 20px;
}
.reviewuser {
  height: 40%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.reviewuserinfo {
  display: flex;
  flex-direction: column;
}
.reviewstart {
  margin: 10px;
}
.reviewstar {
  width: 200px;
  display: flex;
  flex-direction: row;
}
.reviewstar.user {
  margin-left: 5px;
}
.reviewtext {
  margin-left: 10px;
}
.stars {
  display: flex;
  flex-direction: row;
}
.starbox {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;
  position: relative;
  /* margin: 5px; */
}
.refile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 5px 5px 5px 0;
}
.rephoto {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  margin: 5px;
  border: 1px solid var(--button-bg-color2);
  border-radius: 8px;
}
.star {
  width: 40px;
  height: 40px;
  /* clip-path: polygon(
    30% 27%,
    50% 0%,

    70% 27%,
    100% 35%,

    80% 60%,
    85% 95%,

    50% 80%,
    15% 95%,

    20% 60%,
    0% 35%
  ); */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    100% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  /* background-color: rgb(230, 230, 230); */
  /* background-color: wheat; */
  background-color: rgb(225, 218, 201);
  /* background-color: rgb(28, 28, 28); */
  position: absolute;
  /* transition-property: all;
  transition-duration: 0.5s; */
  border: 0;
  /* border: 2px solid rgb(28, 28, 28); */
}
.star.left {
  clip-path: polygon(
    30% 27%,
    50% 0%,

    50% 27%,
    50% 35%,

    50% 60%,
    50% 95%,

    50% 80%,
    15% 95%,

    20% 60%,
    0% 35%
  );
  /* clip-path: polygon(
    50% 0%,
    61% 35%,
    100% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  ); */
}
.star.right {
  clip-path: polygon(
    50% 27%,
    50% 0%,

    70% 27%,
    100% 35%,

    80% 60%,
    85% 95%,

    50% 80%,
    50% 95%,

    50% 60%,
    50% 35%
  );
}
.starbox.small {
  width: 25px;
  height: 25px;
}
.star.small {
  width: 25px;
  height: 25px;
}
.staraveragenum {
  margin: 10px 10px 0 10px;
}
#starnum {
  border: 0;
  /* background-color: whitesmoke; */
  font-size: 30px;
  width: 20px;
  /* font-family: "Gowun Batang", serif; */
  font-family: "Do Hyeon", sans-serif;
}
.productinfobox {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.productcontentbox {
  display: flex;
  flex-direction: column;
}
.productcontentbox.price {
  margin-bottom: 50px;
}
.productoptionbox {
  display: flex;
  flex-direction: row;
}
.namelikebox {
  display: flex;
  flex-direction: row;
  position: relative;
}
.buttonbox {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}
.photobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 30px;
  border-radius: 8px;
  width: 400px;
  height: 500px;

  /* border: 2px solid rgb(28, 28, 28); */
}
.photo {
  width: 400px;
  height: 400px;
  object-fit: cover;
  max-width: 500px;
  max-height: 500px;
  transition-property: all;
  transition-duration: 1s;
  border-radius: 8px;
}
.photobox:hover .photo {
  /* width: auto;
  height: auto;
  max-width: 550px;
  max-height: 550px; */
}
.productname {
  font-size: 24px;
}

.productcontentbox {
  font-size: 17px;
}
.hitimg {
  margin-right: 3px;
}
.producthit {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.selectquantity {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.inputquantity {
  width: 280px;
  height: 30px;
  color: rgb(28, 28, 28);
  border: 1px solid rgb(28, 28, 28);
  border-radius: 12px;
  text-align: center;
  /* font-family: "Gowun Batang", serif; */
  font-family: "Do Hyeon", sans-serif;

  font-size: 15px;
  margin: 10px 0 15px 0;
  /* background-color: rgb(230, 230, 230); */
  background-color: wheat;
  /* background-color: rgb(255, 197, 90); */
}
.button {
  margin: 0;
  /* background-color: rgb(230, 230, 230); */
  background-color: var(--button-bg-color);
  transition-duration: 0ms;

  /* background-color: wheat; */
  /* background-color: rgb(255, 197, 90); */
  border: 0;
  /* border: 2px solid rgb(28, 28, 28); */
}
.button:hover {
  background-color: var(--button-hover-color);
  /* border: 2px solid rgb(28, 28, 28); */
}
.numbuttonbox {
  display: flex;
  flex-direction: row;
  margin: 0 20px 20px 0;
}

.numbuttonupdown {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 40px;
  border-radius: 0 12px 12px 0;
}
/* .numbutton.up {
  border-radius: 0 12px 0 0;
  border-left: 0;
  border-bottom: 0;
}
.numbutton.down {
  border-radius: 0 0 12px 0;
  border-top: 0;
  border-left: 0;
}
.numbutton {
  width: 30px;
  height: 20px;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(28, 28, 28);
} */
.numbutton {
  width: 40px;
  height: 40px;
  /* background-color: rgb(225, 218, 201); */
  background-color: var(--button-bg-color);

  /* color: var(--button-bg-color); */
  /* background-color: rgb(230, 230, 230); */
  /* background-color: wheat; */
  /* border: 1px solid rgb(28, 28, 28); */
  border: 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  /* border: 2px solid rgb(28, 28, 28); */
}
.numbutton:hover {
  /* background-color: rgb(200, 200, 200); */
  background-color: var(--button-hover-color);
  /* border: 2px solid rgb(28, 28, 28); */
}
/* .input.num {
  width: 80px;
  height: 40px;
  border-radius: 12px 0 0 12px;
} */

.input {
  width: 40px;
  height: 40px;
  border-radius: 0;
  padding: 0;
  background-color: whitesmoke;
  border: 0;
  margin: 0;
}
.back {
  position: absolute;
  top: 10px;
  left: 10px;
}
.messagerotation {
  width: 60px;
  height: 700px;
  position: fixed;
  transition: all;

  transition-duration: 0.5s;
  transition-property: all;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  top: 0px;
  right: 300px;
  /* background-color: aquamarine; */
  overflow: hidden;
  z-index: -1;
}
.messagebox {
  width: 700px;
  height: 60px !important;
  font-size: 40px;
  /* background-color: rgb(200, 200, 200); */
  background-color: rgb(255, 197, 90);
  color: rgb(28, 28, 28);
  position: inherit;
  opacity: 0.7;
  z-index: -2;
  /* bottom: 60px; */
  /* top: 0px; 
  right: 0px; */
  /* margin: 100px; */
  /* border-radius: 12px; */
  left: 832px;
  /* right: 300px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clip-path: polygon(0% 0%, 5% 50%, 0% 100%, 100% 100%, 100% 100%, 100% 0%);
  /* clip-path: polygon(0% 0%, 0% 100%, 50% 90%, 100% 100%, 100% 0%); */
  transform: rotate(-90deg);
  transition-duration: 0.5s;
  transition-property: all;
  /* padding-top: 5px; */
  animation-name: label;
  bottom: 1300px;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  display: none;
}
@keyframes label {
  0% {
    bottom: 1300px;
  }
  60% {
    /* top: 300px; */
    bottom: 500px;
  }
  100% {
    bottom: 1300px;
  }
}

.messagetext {
  transform: translateX(-50%) rotate(-90deg);
  display: inline-block;
}
/* .container:hover .messagerotation {
  width: 60px;
  height: 700px;
  display: none;
} */
/* .container:hover .messagebox {
  width: 700px;
  height: 60px;
  display: none;
} */
.ql-editor.element.con {
  overflow-y: visible;
}
.deletereview {
  position: absolute;
  right: 1%;
  top: 15px;
}
/* ---------- */
.heart1 {
  width: 24px;
  height: 24px;
  background: rgb(225, 218, 201);
  cursor: pointer;

  clip-path: path(
    "M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"
  );
  /* transform: scale(5); */
  /* position: absolute; */
  /* right: 0px; */
  /* border: 2px solid rgb(28, 28, 28); */
  border: 0;
}
.heart1.select {
  background-color: var(--button-hover-color);
}
.heart2 {
  width: 24px;
  height: 24px;
  background: #ff5252;
  clip-path: path(
    "M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"
  );
  /* transform: scale(5); */
  /* position: absolute; */
  /* right: 0px; */
}
.heart1.select:hover {
  background-color: var(--button-hover-color);
}
.heart1:hover {
  /* background-color: #ff5252; */
  /* background-color: rgb(28, 28, 28); */
  background-color: var(--button-bg-color);
}
.likebutton {
  height: auto;
  position: absolute;
  right: 50px;
}

.check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* border: 1px solid rgb(200, 200, 200); */
  /* border: 1px solid rgb(28, 28, 28); */
  border: 1px solid var(--button-bg-color2);
  /* border: 2px solid rgb(28, 28, 28); */

  transition: all 0.3s ease;
  position: relative;
  margin: 0 5px 10px 5px;
}
.check::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  /* background-color: rgb(200, 200, 200); */
  /* background-color: rgb(28, 28, 28); */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease;
}
.check.fixed::after {
  opacity: 1;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%) scale(1);
}
a:hover {
  color: rgb(28, 28, 28);
}
.optiontextbox {
  width: 55px;
  height: 30px;
  border-radius: 8px;
  /* border: 2px solid rgb(200, 200, 200); */

  border: 2px solid var(--button-bg-color2);
  /* border: 2px solid rgb(28, 28, 28); */

  /* color: rgb(200, 200, 200); */
  color: var(--button-bg-color2);
  /* color: rgb(28, 28, 28); */
  /* background-color: rgb(230, 230, 230); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 10px 0px;
  cursor: pointer;
}

.optiontextbox:hover {
  /* background-color: rgb(230, 230, 230); */
  /* background-color: var(--button-hover-color); */
  background-color: wheat;
  /* border: 2px solid rgb(28, 28, 28); */
  border: 2px solid wheat;
}
.optiontextbox.selected {
  /* background-color: wheat; */
  background-color: rgb(255, 197, 90);
  border: 2px solid rgb(255, 197, 90);
  /* border: 2px solid wheat; */
}
.optiontextbox.selected .productinfotext.op {
  color: rgb(28, 28, 28);
}
.optiontextbox:hover .productinfotext.op {
  color: rgb(28, 28, 28);
}
.productinfotext.op {
  color: var(--button-bg-color2);
  /* color: rgb(28, 28, 28); */
}
.productinfotext.op:hover {
  color: var(--button-bg-color2);

  /* color: rgb(28, 28, 28); */
}
.productinfotext:hover {
  color: rgb(28, 28, 28);
}
/* .optiontextbox.optioncolor {
  border-radius: 50%;
  opacity: 0;
  width: 30px;
  position: relative;
  z-index: 1;
  background-color: transparent;
} */
.optiontextbox.optioncolor:hover {
  opacity: 1;
  cursor: pointer;
}
.check.fixed.color {
  position: absolute;
  bottom: 23px;
  left: 7px;
  opacity: 1;
  width: 25px;
  height: 25px;
  margin: 0 2px 0 2px;
}
.optioncolorpo {
  position: relative;
}
.boxb {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.line.b {
  border: 0.5px solid var(--button-bg-color3);
}
.showdetail {
  display: flex;
  flex-direction: row;
  justify-self: center;
  border: 2px solid var(--button-bg-color2);
  width: 280px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  margin: 10px;
  position: absolute;
  bottom: 30px;
  opacity: 0.85;
}
.showdetailbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.stext {
  color: var(--button-bg-color2);
  font-family: "Do Hyeon", sans-serif;
}
.showdetail:hover {
  /* background-color: var(--hover2); */
  background-color: var(--button-hover-color);
  /* opacity: 0.95; */
  /* border: 2px solid rgb(28, 28, 28); */
  border: 2px solid var(--button-hover-color);
}
.showdetail:hover .stext {
  /* color: rgb(28, 28, 28); */
  color: white;
}
.end {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products {
  width: 680px;
  height: auto;
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  justify-content: start;
  overflow-x: auto;
  margin: 30px 0 0 0;
}
.product {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: center; */
  transition-property: all;
  transition-duration: 1s;
  margin: 0px 5px 20px 0px;
}
.filebox {
  /* border: 0; */
  border-bottom: 1px solid rgb(200, 200, 200);
  /* border-radius: 8px; */
  margin-left: 10px;
}
.productinfotext {
  font-size: 15px;
}
.gray {
  color: var(--button-bg-color3);
}
.tphoto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.totalproducttext {
  width: 680px;
  display: flex;
}
