.middle.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.productinfo {
  margin-left: 5px;
}
.gray {
  /* color: rgb(150, 150, 150); */
  color: var(--button-bg-color3);
  fill: var(--button-bg-color3);
}
.gray:hover {
  color: var(--button-bg-color3);
  /* color: rgb(150, 150, 150); */
}
.current {
  color: var(--button-hover-color);
}
.producthit {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pricebox {
  display: flex;
  flex-direction: row;
}
