.top.shopping {
  width: 100%;
}
.middle.shopping {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}
.left.middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}
.ad {
  width: 100%;
  height: 400px;
  display: flex;
}
.right.middle {
  /* width: 300px; */
}
.productbox {
  width: 80%;
}
.products {
  margin: 10px;
  height: auto;
  position: relative;
}
.product {
  height: 350px;
  /* border-radius: 12px 12px 0 0; */
  border-radius: 8px;
  /* border: 1px solid rgb(28, 28, 28); */
  border: 0;
}
.productinfo {
  /* border-radius: 0 0 12px 12px;
  border: 1px solid rgb(200, 200, 200);
  border-top: 0;
  background-color: rgb(200, 200, 200); */
  height: auto;
  /* text-align: center; */
  margin-left: 5px;
}
/* .filterbox {
  width: 100px;
  height: 0;
  background-color: rgb(230, 230, 230);
  clip-path: polygon(0% 0%, 0% 100%, 50% 90%, 100% 100%, 100% 0%);
  transition-property: all;
  transition-duration: 1s;

  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 10px;
  position: absolute;
  right: 10px;
}
.filter {
  font-size: 20px;
  margin: 20px 0 10px 5px;
}

.container:hover .filterbox {
  height: 50px;
} */
.filterbox {
  width: 500px;
  height: auto;
  position: absolute;
  left: 0px;
  top: 200px;
  display: flex;
  flex-direction: column;
}
.gray {
  color: rgb(150, 150, 150);
}
.gray:hover {
  color: rgb(150, 150, 150);
}
.filterbox:hover {
  padding-bottom: 400px;
  width: 150px;
}
.hitimg {
  margin-right: 3px;
}
.producthit {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filteroption {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ho:hover {
  color: rgb(28, 28, 28);
}
.check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* border: 1px solid rgb(200, 200, 200); */
  border: 1px solid rgb(28, 28, 28);

  transition: all 0.3s ease;
  position: relative;
  margin: 0 5px 10px 5px;
}
.check::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  /* background-color: rgb(200, 200, 200); */
  background-color: rgb(28, 28, 28);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease;
}
.check:hover::after {
  transform: translate(-50%, -50%) scale(1);
}
.check.fixed::after {
  opacity: 1;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%) scale(1);
}

.heart1 {
  width: 24px;
  height: 24px;
  background: rgb(230, 230, 230);
  clip-path: path(
    "M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"
  );
  /* transform: scale(5); */
  /* position: absolute; */
  /* right: 0px; */
  border: 0;
}

.heart1:hover {
  /* background-color: #ff5252; */
  background-color: rgb(28, 28, 28);
}
.likebutton {
  height: auto;
  position: absolute;
  right: 2px;
  bottom: 60px;
}
.options {
  width: 0;
  height: 60px;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  transition-duration: 1s;
  transition-property: all;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 100% 100%, 90% 50%, 100% 0%);
  margin: 10px 5px 10px 0;
  font-size: 40px;
  opacity: 0.5;
  position: relative;
  cursor: pointer;
}
.container:hover .options {
  width: 60px;
}
.options:hover {
  padding-right: 200px;
}
.ho.o {
  /* color: rgb(230, 230, 230); */
  color: rgb(150, 150, 150);
  margin: 0 0 0 60px;
  /* transition-property: all;
  transition-duration: 1s; */
  opacity: 0;
}
.options:hover .ho.o {
  opacity: 1;
}
.ho.oo {
  /* margin: 0 0 0 20px; */
  position: absolute;
  left: 20px;
  animation-name: text2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes text2 {
  from {
    margin-left: 40px;
  }
  to {
    margin-right: 0;
  }
}
.options:hover .ho.oo {
  /* opacity: 0; */
  animation-name: text;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes text {
  to {
    margin-left: 40px;
  }
}
